<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640348850810-5qepq32sv9fddo8gd0q6e6jl1m5qnu8p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640348850810-5qepq32sv9fddo8gd0q6e6jl1m5qnu8p</string>
	<key>API_KEY</key>
	<string>AIzaSyB4Ai6Etdj-0tpap3fgYrNTS0PhYTorhy8</string>
	<key>GCM_SENDER_ID</key>
	<string>640348850810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.portfolio</string>
	<key>PROJECT_ID</key>
	<string>portfolio-c0e8c</string>
	<key>STORAGE_BUCKET</key>
	<string>portfolio-c0e8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640348850810:ios:2b6ad41fc8fc026a7e09c3</string>
</dict>
</plist>